@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(77, 20, 210);
    --background-color: #fbf8f3;;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    padding: 50px 100px;
    height: 600px;
    background-color: var(--background-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.btn{
    padding: 10px;
    border-radius: 5px;
    transition: all .5s;
    border: none;
    font-weight: 700;
}
.btn-border{
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 10px auto;
    display: block;
    width: 100%;
    padding: 15px 0px;
}
.btn-pry {
    background-color: var(--primary-color);
    color: white;
}
.btn-sec{
    color: var(--primary-color);
    background-color: white;
}

.btn-pry:hover {
    background-color: green;
}

.links li {
    position: relative;
}

.links li:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--primary-color);
    height: 2px;
    width: 100%;
    transform: translateX(-50%);
    display: inline-flex;
    opacity: 0;
    transition: all 5s;
}

.links li:hover {
    transform: translateX(0);
    opacity: 1;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.left {
    flex-basis: 50%;
}

.right {
    flex-basis: 50%;
}

.right img {
    width: 100%;
}

.view {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
}

.view:before {
    content: "";
    width: 100%;
    height: 10%;
    border-bottom: 2px solid var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -5px;
}

.view:hover {
    color: green;
}

.view:hover:before {
    border-bottom: 2px dashed green;
}

.check {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkCont {
    display: flex;
    gap: 10px;
}

.ham {
    display: none;
}

section {
    padding: 50px 100px;
}

section h4 {
    color: var(--primary-color);
}

.gridCont {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.section_header {
    width: 40%;
}

.col {
    color: rgba(0, 0, 0, .6);
}
.section2{
    height: 420px;
}
.sectionImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
}

.sectionImg_right {
    position: relative;
    flex-basis: 50%;
    height: 100%;
}

.sectionImg_left {
    flex-basis: 50%;
    padding-left: 30px;
}
.sectionImg_left p{
    margin-bottom: 10px;
   
}

.sectionImg_right img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    width: 90%;
    height: 80%;
}
.testimonials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.testi_col{
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.t_header{
    display: flex;
    margin-bottom: 10px;
}
.t_header ul{
    margin-left: 10px;
    
}
.t_header ul li{
    list-style-type: none;
    
}
.t_header ul li:nth-child(1){
    color: var(--primary-color);
    font-weight: 700;
    
}
.footer_cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer{
    padding: 50px 100px;
    background-color: var(--background-color);
    font-size: 13px;
}
footer table{
    flex-basis: 60%;
}
table th{
    text-align: left;
}
footer .col_1{
    flex-basis: 35%;
}
@media (max-width: 768px) {
    header {
        padding: 25px 50px;
    }

    nav ul {
        display: none;
    }

    .ham {
        display: block;
    }
}

@media (max-width: 676px) {
    .cont {
        flex-direction: column-reverse;
    }

    .left {
        margin-top: 50px;
    }

    .rating {
        display: none;
    }
}

@media (max-width: 499px) {
    .checkCont {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .left_btnCont * {
        display: block;
        width: 100%;
    }

    .view:before {
        width: 35%;
        left: 50%;
        transform: translateX(-50%);
    }
}
